<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shetuan</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.shetuan.servelt.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServelt</display-name>
    <servlet-name>LoginOutServelt</servlet-name>
    <servlet-class>com.shetuan.servelt.LoginOutServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServelt</servlet-name>
    <url-pattern>/loginOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.shetuan.servelt.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.shetuan.servelt.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/admin/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.shetuan.servelt.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/admin/Query</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityServelt</display-name>
    <servlet-name>CommunityServelt</servlet-name>
    <servlet-class>com.shetuan.servelt.CommunityServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityServelt</servlet-name>
    <url-pattern>/admin/Community</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.shetuan.servelt.ToAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>com.shetuan.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>com.shetuan.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/info/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ToIndex</display-name>
    <servlet-name>ToIndex</servlet-name>
    <servlet-class>com.shetuan.servelt.ToIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToIndex</servlet-name>
    <url-pattern>/toIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInfoServlet</display-name>
    <servlet-name>MemberInfoServlet</servlet-name>
    <servlet-class>com.shetuan.servelt.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoServlet</servlet-name>
    <url-pattern>/MemberInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInfoUpdate</display-name>
    <servlet-name>MemberInfoUpdate</servlet-name>
    <servlet-class>com.shetuan.servelt.MemberInfoUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoUpdate</servlet-name>
    <url-pattern>/MemberInfoUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.shetuan.servelt.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/admin/Search</url-pattern>
  </servlet-mapping>
</web-app>